body{
    background-color: black;
    font-family: 'Ubuntu';
    color: aliceblue;
}

nav{
    padding-bottom: 2em;
}

.mainText{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.indicatorText{
    font-family: 'Ubuntu Mono';
    font-weight: 100;
    text-align: center;
    margin: auto;
    opacity: 0.8;
    display: flex;
}

.center{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.active{
    opacity: 1;
    text-decoration: underline;
    animation: active 2s;
}

@keyframes active {
    from {
        opacity: 0.8;
        text-decoration: none;
    }
    to {
        text-decoration: underline;
        opacity: 1;
    }
}

.addButton{
    position: fixed;
    right: 3%;
    top: 0;
    font-size: 3em;
    color: rgb(84, 126, 0);
    cursor: crosshair;
}



.listCardHolder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.toDoItem{
    border: 5px solid green;
    border-radius: 20px;
    width: 31vw;
    transform: scale(97%);
    margin: 0.5%;
    transition: all 0.3s;
}

.toDoItem:hover {
    transform: scale(100%);
}

h3{
    text-align: center;
}

p{
    opacity: 0.9;
    font-family: 'Ubuntu Mono';
    font-weight: 150;
    text-align: center;
}

.important{
    border-color: red;
}

.unimportant{
    border-color: rgb(85, 105, 112);
}



.extendDots{
    text-indent: 0;
}